:root {
  --m2moko-black: #050505;
  --m2moko-white: #ffffff;
  --m2moko-coral: #ff315c;
  --m2moko-orange: #ff7a1a;
  --m2moko-magenta: #cf148b;
  --m2moko-sand: #d5aa72;
  --m2moko-olive: #526126;
}

